@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
}