@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
}